<div class="row mt-5 mb-5">
  <h4 class="mb-5">Twoje wypożyczenie zaraz do Nas trafi i będzie realizowane. </h4>
  <h5>Jeśli wybrałeś dostawę przygotuj wygenerowaną ilość pieniędzy, jeśli wybrałeś odbiór osobisty zapraszamy do salonu.</h5>
  <p class="font-italic">Pamiętaj, że sprzęt wypożyczasz na 10 dni roboczych. Jeśli chcesz przedłużyc wypożyczenie przyjdź do salonu.</p>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Wróć do podglądu
  </button>
  <button class="btn btn-primary" (click)="submitOrder()">
    Potwierdź wypożyczenie <i class="fa fa-angle-right"></i>
  </button>
</div>
