<section class="featured mt-5">
  <div class="d-flex justify-content-center pt-4">
    <h1>Zapraszamy do zobaczenia naszej oferty sprzętu!</h1>
  </div>
</section>
<carousel>
  <slide>
    <img src="assets/images/dewalt.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/makita.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/mil.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel>

